<p style="color: green"><%= notice %></p>
<h1>Book Club</h1>
  <div class="club-header">
    <%= render partial: "shared/club_stats", locals: { club: @club } %>
    <%= render partial: "member_form", locals: { club: @club } %>
    <%= render @club %>
  </div>

<div class="club-content">

  <div class="club-bookshelves">
    <% @club.bookshelves.each do |bookshelf| %>
      <%= render bookshelf %>
    <% end %>
  </div>

<!--FIXME club post display-->
<!--  <div class="club-posts">-->
    <%# Post.where(club:@club.name).each do |post| %>
      <%#= render partial: "posts/postcard", locals: { post: post } %>
    <%# end %>
<!--  </div>-->

</div>

<% if authenticated? and Current.user == @club.curator %>
  <div>
    <%= link_to "Edit this club", edit_club_path(@club) %> |
    <%= button_to "Destroy this club", @club, method: :delete %>
  </div>
<% end %>

 <%= link_to "Back to clubs", clubs_path %>

