<div id="<%= dom_id bookshelf %>">
  <div class="bookshelf">
    <h2><%= bookshelf.name %></h2>
    
    <div class="books" style="display: flex; flex-direction: column;">
      <%
        bookshelf_books = BookshelfContain.where(name: bookshelf.name, creator: bookshelf.creator)
        bookshelf.books.each do |book| 
          unless book.nil?
      %>
        <div>
            <%= render partial: "books/bookcard", locals: { book: book, bookshelf: bookshelf} %>
        </div>
      <%
          end
        end
      %>

    </div>
    
    <div class="bookshelf-footer">
        <p>Created by: <%= link_to bookshelf.creator.nickname, user_path(bookshelf.creator) %></p>
      <p>
        <%= link_to "Show this bookshelf", bookshelf %>
      </p>
    </div>
  </div>

</div>
