<p style="color: green"><%= notice %></p>

<% content_for :title, "Bookshelves" %>

<h1>Bookshelves</h1>

<div id="bookshelves">
  <% @bookshelves.each do |bookshelf| %>
    <div class="bookshelf">
      <h2><%= bookshelf.name %></h2>
      
      <div class="books">
        <% bookshelf_books = BookshelfContain.where(name: bookshelf.name, creator: bookshelf.creator) %>
        <% bookshelf_books.each do |bookshelf_book| %>
          <% book = Book.find_by(isbn: bookshelf_book.book) %>
          <% if book %>
            <div class="book-card">
              <%= image_tag book.thumbnail, alt: "Cover of #{book.title}", class: "book-thumbnail" %>
            </div>
          <% end %>
        <% end %>
      </div>
      
      <div class="bookshelf-footer">
        <% user = User.find_by(email: bookshelf.creator) %>
        <% if user %>
          <p>Created by: <%= link_to user.nickname, user_path(user) %></p>
        <% else %>
          <p>Created by: <%= bookshelf.creator %></p>
        <% end %>
        <p>
          <%= link_to "Show this bookshelf", bookshelf %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New bookshelf", new_bookshelf_path %>
