<p style="color: green"><%= notice %></p>

<%= render @bookshelf %>

<% if authenticated? and Current.user&.email_address == @bookshelf.creator %>
  <div>
    <%= link_to "Edit this bookshelf", edit_bookshelf_path(@bookshelf) %> |
    <%= button_to "Destroy this bookshelf", @bookshelf, method: :delete %>
  </div>
<% end %>

<%= link_to "Back to bookshelves", bookshelves_path %>
