<div class="user-card" style="display: flex; justify-content: space-between; align-items: center; padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 10px;">
    <div class="user-info" style="display: flex;">
        <span> <%= user.nickname %></span>
        <span> &nbsp;&nbsp;|&nbsp;&nbsp; </span>
        <span><strong> <%= user.email_address %> </strong> </span>
    </div>
    <div class="user-actions" style="display: flex; gap: 10px;">
        <%= render partial: 'shared/roles', locals: { user: user } %>
        <%= link_to 'Show', user_path(user), class: 'btn btn-primary', style: 'padding: 5px 10px;' %>
        <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: 'padding: 5px 10px;' %>
    </div>
</div>