<p style="color: green"><%= notice %></p>

<div class="show-container">
  <div class="user-header">
    <h1><%= @user.nickname %></h1>
    <% if @user.avatar.attached? %>
      <div>
        <%= image_tag url_for(@user.avatar), alt: "Foto Profilo" %>
        <%= button_to "Rimuovi Foto", remove_avatar_user_path(@user), method: :delete, data: { confirm: "Sei sicuro di voler rimuovere la foto?" } %>
      </div>
    <% end %>
    <div style="display: flex; gap: 10px;">
      <div><strong><%= @user.email_address %></strong></div> 
      <% if @user.admin? %>
      <div><em>This user is an Admin!</em></div> 
      <% end %>
      <section class="stats">
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <div>
            <%= render 'shared/user_stats' %>
            <%= render 'follow_form' if logged_in? %>
          </div>
        </div>
      </section>
      <div class="btn-link">
        <%= render 'reports/report_form', reported_id: @user, reporter_id: Current.user, type: "User" %>
      </div>
   
  
    
    <p><%= @user.description %></p>
  </div>


  <div class="user-content">
    <h2>Bookshelves</h2>
    <%= render partial: 'bookshelves/user_index', locals: { user: @user } %>

    <h2>Posts</h2>
    <%= render partial: 'posts/user_index', locals: { user: @user } %>

  <div class="button_container">
  <% if Current.user&.admin? or @user.id == Current.user&.id %>
    <div style="display: flex; gap: 10px;">
      <%= link_to "Edit this user", edit_user_path(@user), class: "button" %>
      <%= button_to "Delete this user", @user, method: :delete, class: "button" %>
    </div>
  <% end %>

</div>
