<p style="color: green"><%= notice %></p>

<div>
  <div class="split-container">
    <div class="left-col">
      <div class="user-info">
        <h1><%= @user.nickname %></h1>
        <% if Current.user&.admin? or @user.id == Current.user&.id %>
          <%= link_to "Edit this user", edit_user_path(@user), class: "btn-link" %>
        <% end %>
        
        <section class="stats">
          <div>
            <div>
              <%= render 'shared/user_stats'%>
              <%= render 'follow_form' if logged_in?%>
            </div>
          </div>
        </section>
      </div> 
          
      <div class="reporting">
        <%= render 'reports/report_form', reported_id: @user, reporter_id: Current.user, type: "User"%>
      </div>
    </div>   
    <div class="righ-col">
      <div class="user-description"><%= @user.description %></div>
    </div>
  </div>


  <div class="user-content" style="display: flex; gap: 20px;">
    <div class="bookshelves" style="flex: 1;">
      <h2>Bookshelves
      <%= link_to new_bookshelf_path, class: "new-post-btn" do %>
       <span class="footer-button-container plus-icon">+</span>
      <% end %>
      </h2>
      <% @user_bookshelves = Bookshelf.where(creator: @user.email_address) %>
      <div>
        <% @user_bookshelves.each do |bookshelf| %>
        <% class_name = bookshelf.name == "#{@user.nickname}'s Read Books" || bookshelf.name == "#{@user.nickname}'s Liked Books" ? "special-bookshelf bookshelf" : "bookshelf" %>
        <div class="<%=class_name%>">
          <h3><%= bookshelf.name %></h3>
          <p>Created at: <%= bookshelf.created_at.strftime("%B %d, %Y") %></p>
          <%= link_to "Show this bookshelf", bookshelf %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="posts" style="flex: 1;">
      <h2>Posts
      <%= link_to new_post_path, class: "new-post-btn" do %>
       <span class="footer-button-container plus-icon">+</span>
      <% end %>
      </h2>
      <% @user_posts = Post.where(creator: @user.email_address) %>
      <% @user_posts.each do |post| %>
        <div class="post">
          <h3><%= post.title %></h3>
          <p><%= post.text %></p>
          <p>Created at: <%= post.created_at.strftime("%B %d, %Y") %></p>
          <%= link_to "Show this post", post %>
        </div>
      <% end %>
    </div>
  </div>
</div>
