<% if authenticated? %>
  <div class="page-layout">
    <div class="left-section">
      <%= render partial: 'bookshelves/user_index', locals: { user: Current.user } %>
    </div>
    <div class="center-section">
      <%= render partial: 'posts/home_index' %>
    </div>
    <div class="right-section">
      <div class="search-container">
      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query, params[:query], placeholder: "Cerca..." %>
        <%= submit_tag "Cerca" %>
      <% end %>
      </div>
    </div>
    </div>
  <% else %>
    <%= link_to "Sign in", new_session_path %>
  <% end %>