<% if authenticated? %>
  <div class="page-layout">
    <div class="left-section">
      <%= render partial: 'bookshelves/user_index', locals: { user: Current.user } %>
    </div>
    <div class="center-section">
      <%= render partial: 'posts/home_index' %>
    </div>

    <div class="right-section">
      <div class="search-container">
        <%= form_tag search_path, method: :get do %>
          <%= text_field_tag :query, params[:query], placeholder: "Cerca..." %>
          <%= submit_tag "Cerca" %>
        <% end %>
      </div>

      <h3>Curators</h3>
      <div class="curator-list">
        <ul>
          <!--TODO export this into a partial-->
          <% 
            your_club = Current.user.curator_club 
            unless your_club.nil? 
          %>
            <li> <%= link_to "You (#{Current.user.nickname})", user_path(Current.user) %> - <%= link_to your_club.name, club_path(your_club) %> </li>
          <% end %>
          
          <% Current.user.active_memberships.each do |membership| %>
            <li> <%= link_to membership.club.curator.nickname, user_path(membership.club.curator) %> - <%= link_to membership.club.name, club_path(membership.club) %> </li>
          <% end %>
        </ul> 
      </div>
    </div>
  </div>

<% else %>
  <%= link_to "Sign in", new_session_path %>
<% end %>