<div id="<%= dom_id post %>">
<div class="post-container">
  <div class="post-header">
    <h1><%= @post.title %></h1>
  </div>
  <div class="post-meta" style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px;">
    <!--# TODO add support for absent post author-->
    <p>Posted by: <%= link_to @post.author.nickname, user_path(@post.author) %></p>
    <%# if @post.author %> 
    <%# else %>
<!--      <p>Posted by: <em>[User not found]</em></p>-->
    <%# end %>
  </div>
  <div style="margin-top: 10px;">
    <% if authenticated? %>
      <% LoggingUtility.log @post%>
      <%= render 'reports/report_button', reported: @post%>
    <% end %>
  </div>
  <div class="post-body" style="display: flex; gap: 20px;">
    <% if @post.book %>
      <%= render partial: "books/thumbnail", locals: { book: @post.book } %>
    <% end %>

    <div class="post-content" style="flex: 2;">
      <p><%= @post.text %></p>
    </div>
    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <% if authenticated? %>
      <% pre_like = @post.likes.find { |like| like.user_id == Current.user&.id} %>
      <% if pre_like %>
        <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
      <% else %>
        <%= button_to 'Like', post_likes_path(@post), method: :post %>
      <% end %>
    <% end %>
  </div>

</div>
