<div class="post-card" >
    <div class="post-thumbnail" style="margin-right: 20px;">
        <% book = Book.find_by(isbn: post.book) %>
        <%= image_tag book.thumbnail, alt: "Cover of #{book.title}" %>
    </div>
    <div class="post-content">
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
        <% user = User.find_by(email_address: post.creator) %>
        <% bookclub = Club.find_by(name: post.club) %>
        <% if user && bookclub %>
            <p>Posted by <%= link_to user.nickname, user_path(user) %> in the <%= link_to bookclub.name, club_path(bookclub) %> bookclub. </p>
        <% end %>
        <p>
            <%= link_to "Show this post", post_path(post) %>
        </p>
    </div>
</div>