<div class="post-card">
    <div class="post-header">
        <h2><%= post.title %></h2>
    </div>
    <div class="post-content" style="display: flex; gap: 1rem;">
        <div class="thumbnail">
            <%= render partial: "books/thumbnail", locals: { book: post.book } %>
        </div>
        <div class="post-details">
            <p><%= post.text %></p>
            <% if post.author %>
                <p> Posted by <%= link_to post.author.nickname, user_path(post.author) %> </p>
            <% end %>
            <% if post.club %>
                <p> in the <%= link_to post.club.name, club_path(post.club) %> club.</p>
            <% end %>
            <p>
                <%= link_to "Show this post", post_path(post) %>
            </p>
        </div>
    </div>
</div>