<nav class="navbar">
  <div class="navbar-brand">
    <%= link_to "PageTurner", root_path, class: "navbar-logo" %>
  </div>
  <div class="navbar-links">
    <%= link_to "Posts", posts_path, class: "navbar-link" %>
    <%= link_to "Bookshelves", bookshelves_path, class: "navbar-link" %>
    <%= link_to "Books", books_path, class: "navbar-link" %>
  </div>
  <div class="navbar-user">
    <% if authenticated? %>
      <%= link_to Current.user&.nickname, user_path(Current.user&.id), class: "fake_link" %>
      <%= button_to 'Logout', logout_path, method: :delete, class: "fake_link"%>
    <% else %>
      <%= link_to "Login", new_session_path, class: "navbar-link" %>
      <%= link_to "Register", new_user_path, class: "navbar-link" %>
    <% end %>
  </div>
</nav>